<div class="row align-items-center justify-content-between g-3 mb-5 col-12 col-md-auto">
  <h1 class="mb-0">EVENTS 360 Admin Dashboard</h1>
</div>
<div class="px-3">
  <div class="row justify-content-between mb-5">
    <div class="col-6 col-md-4 col-xxl-2 text-center border-start border-bottom-0 border-end pb-4"><span class="fs-3 lh-1 text-primary"></span>
      <h1 class="fs-3 pt-3"><%=@nxt_apps_count%></h1>
      <p class="fs--1 mb-0">NXTApps</p>
    </div>
    <div class="col-6 col-md-4 col-xxl-2 text-center border-start border-bottom-0 border-end pb-4"><span class="fs-3 lh-1 text-primary"></span>
      <h1 class="fs-3 pt-3"><%=@email_templates_count%></h1>
      <p class="fs--1 mb-0">Email Templates</p>
    </div>
    <div class="col-6 col-md-4 col-xxl-2 text-center border-start border-bottom-0 border-end pb-4"><span class="fs-3 lh-1 text-primary"></span>
      <h1 class="fs-3 pt-3"><%=@user_count%></h1>
      <p class="fs--1 mb-0">CRM Users</p>
    </div>
    <div class="col-6 col-md-4 col-xxl-2 text-center border-start border-bottom-0 border-end pb-4"><span class="fs-3 lh-1 text-primary"></span>
      <h1 class="fs-3 pt-3"><%=@post_count%></h1>
      <p class="fs--1 mb-0">Posts</p>
    </div>
  </div>
</div>
